#content a:link:after, 
#content a:visited:after { 
	content: " (" attr(href)")"; 
	font-size: 90%; 
	background: transparent; 
	text-decoration: underline; 
}

#paper{
	aspect-ratio: 1/1.41421;
}

.pagebreak{
	break-after: page;
}