:root{
	font-size: large;
}
body, html, #paper{
	margin: 0;
}
#content a:link:after, 
#content a:visited:after { 
	content: " (" attr(href)")"; 
	font-size: 90%; 
	background: transparent; 
	text-decoration: underline; 
}

#paper{
	box-shadow: none;
}

/* .pagebreak{
	break-after: page;
}